.heading > h2 {
  text-align: left;
  color: gray;
  font-size: 18px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 35px;
  margin-top: 20px;
  }
  
  .heading > p {
    color: #8c96ab;
    opacity: 1;
    text-align: left;
    padding-left: 35px;
    padding-top: 10px;
  }
  
  .mainCard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 6px #00000029;
    height: 150px;
    width: 350px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    box-shadow: 0 3px 6px gray;
    margin-top: 30px;

  }
  
  .titleItem {
    width: 45%;
    float: left;
  }
  .tileComponent2 {
    width: 50%;
    float: left;
    margin-top: 20px;
  }
  
  .componentHeading {
    text-align: left;
    color: #192f60;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .componentSubHeading {
    text-align: left;
    color: gray;
    font-size: 18px;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
 

